.navbar {
  top: 2rem;
  left: 2rem;
  height: 10rem;
  position: absolute;

  z-index: 3;
}

.logo {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .navbar {
    top: 2rem;
    left: 2rem;
    height: 5rem;
    position: absolute;

    z-index: 3;
  }

  .logo {
    width: 50%;
  }
}
