.drawer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
  height: 100vh;
  right: 0;

  position: absolute;
  z-index: 999;

  text-align: right;

  background-color: rgba(0, 0, 0, 0.064);

  input {
    border: none;
    border-radius: 0.25rem;
    height: 1.9rem;
    width: 30%;

    background-color: #7d7d7d4e;

    text-align: center;
    &:focus {
      outline: none;
    }
  }
}

.settings_button {
  top: 0;
  right: 2rem;

  position: absolute;
  z-index: 3;

  cursor: pointer;
}

.drawer__list {
  margin-right: 2rem;

  h2,
  h1 {
    cursor: pointer;
  }
}

.colors {
  right: 2rem;

  position: absolute;
  z-index: 2;
}

.font_colors {
  right: 2rem;

  position: absolute;
  z-index: 2;
}

.drawer__waifu_list {
  h3 {
    padding: 0.25rem;
    margin: 0rem;
    cursor: pointer;
  }
}

.flow_types {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;

  h3 {
    padding: 0;
    margin: 0 0 0 1rem;
    cursor: pointer;
  }
}

.flow_unselected {
  color: #6c6c6c72;
}

.coffee {
  margin: 2rem 0 5rem 0;
  text-align: center;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .drawer__container {
    background-color: rgba(0, 0, 0, 0.726);
  }
}
